$blanc: #F3F3F3;
$vert: #008766;
$vertClair: #99E2D0;
$bleu: #003A68;
$bleuClair: #89C8FA;
$violet: #9356DC;
$gris: #7E7E7E;
$grisClair: #f6f6f6;
$rose: #FF79DA;
$Primary: #9356DC;
$Secondary: #FF79DA;
$Tertiary: #99E2D0;